.git
**/.git
.tools
**/.gitleaksignore
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.pub
**/id_rsa
**/id_ed25519
**/authorized_keys
**/known_hosts
**/*.p8
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/*.mobileprovision
**/google-services.json
**/GoogleService-Info.plist
**/credentials.json
**/service-account*.json
**/.npmrc
**/.netrc
**/local.properties
**/key.properties
**/secrets
**/.aws
**/.ssh
**/backend.hcl
**/*.backend.hcl
**/*.tfstate*
**/*.tfplan
**/*.plan
**/*.tfvars*
**/.terraform
**/node_modules
**/.next
**/dist
**/build
**/.gradle
**/DerivedData
**/*.dump
**/*.db
**/*.sqlite*
**/*.log
**/*.apk
**/*.aab
**/*.ipa
**/*.xcarchive
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.7z
**/*.rar
