.git
.tools
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.pub
**/authorized_keys
**/known_hosts
**/*.p8
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/*.mobileprovision
**/google-services.json
**/GoogleService-Info.plist
**/credentials.json
**/service-account*.json
**/.npmrc
**/.netrc
**/secrets
**/.aws
**/.ssh
**/backend.hcl
**/*.backend.hcl
**/*.tfstate*
**/*.tfplan
**/*.plan
**/*.tfvars*
**/.terraform
**/node_modules
**/.next
**/dist
**/build
**/.gradle
**/DerivedData
**/*.dump
**/*.db
**/*.sqlite*
**/*.log
